@model Repository.Concrete.Entities.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Kunde Oversigt</h2>

<div id="loading" class="load" style="display:none">
    <p>Searching...</p>
</div>

@using (Ajax.BeginForm("GetCustomersData",
    new AjaxOptions
    {
        UpdateTargetId = "customerTableBody",
        LoadingElementId = "loading",
        LoadingElementDuration = 1000
    }))
{
    <div class="input-group">
        @Html.TextBox("searchString")
        <button type="submit" class="btn btn-sm">Søg</button>
    </div>
}

@Html.ActionLink("Tilføj Kunde", "AddCustomer", null, new { @class = "btn btn-default" })



<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(c => c.Name)</th>
                <th>@Html.DisplayNameFor(c => c.Company)</th>
                <th>@Html.DisplayNameFor(c => c.Phone)</th>
            </tr>
        </thead>
        <tbody id="customerTableBody">
            @Html.Action("GetCustomersData")
        </tbody>
    </table>
</div>
